<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
  </head>
  <body>
    <h1>Change Password</h1>
    <form action="/change-password" method="POST">
      <label for="currentPassword">Current Password:</label>
      <input
        type="password"
        id="currentPassword"
        name="currentPassword"
        required
      /><br /><br />

      <label for="newPassword">New Password:</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        required
      /><br /><br />

      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
      /><br /><br />

      <button type="submit">Change Password</button>
    </form>
    <button id="backButton" onclick="goBack()">Back</button>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/changePassword.js"></script>
