<!DOCTYPE html>
<html>
  <head>
    <title>Watch Details</title>
  </head>
  <body>
    <h1>Watch Details</h1>
    <div id="watchDetails"></div>
    <button onclick="goBack()">Back</button>
  </body>
</html>
<script src="/js/detailsWatch.js"></script>
<script>
  const watchId = "<%= watchId %>";
  fetchWatchDetails(watchId);
</script>
