<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    #cardsContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .card {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 15px;
      margin: 15px;
      transition: box-shadow 0.3s;
      width: 500px;
      height: 500px;
    }

    .card:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    .card img {
      width: 100%;
      height: 65%;
    }

    .card h2 {
      margin-top: 0;
    }

    .card button {
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 0px;
      cursor: pointer;
    }

    .card button:hover {
      background-color: #45a049;
    }
  </style>
  <body>
    <%- include('navbar') %>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h1>WATCHES SHOP</h1>
      <div>
        <p id="memberContainer"></p>

        <a href="/user" id="userProfile">
          <button>Profile</button>
        </a>
        <a href="/" id="logoutButton" style="display: none">
          <button>Logout</button>
        </a>
      </div>
    </div>
    <div id="searchContainer" style="display: none">
      <input type="text" id="searchInput" placeholder="Search watches..." />
    </div>
    <select id="brandName">
      <option value="">Select a brand</option>
    </select>
    <div id="cardsContainer"></div>
  </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/filterByBrand.js"></script>
<script>
  const id = "<%= id %>";
  fetchFilterDetails(id);
</script>
