<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="container">
      <div class="field is-grouped">
        <div class="control" id="searchContainer" style="display: none">
          <input
            class="input"
            type="text"
            id="searchInput"
            placeholder="Search watches..."
          />
        </div>
        <p class="control">
          <button class="button is-info">Search</button>
        </p>

        <div class="select is-rounded">
          <select id="brandName">
            <option value="">Select a brand</option>
          </select>
        </div>
      </div>
      <div id="cardsContainer"></div>
    </div>
  </body>
  <style>
    #cardsContainer {
      display: flex;
      flex-wrap: wrap;
    }
    .field.is-grouped {
      margin: 1%;
    }
    .card {
      flex: 0 0 23%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      width: 24%;
      margin: 1%;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      padding: 2px 16px;
    }

    .card-image figure {
      width: 100%;
      height: 60%;
      object-fit: cover;
    }

    .card-content {
      padding: 2%;
    }

    .card button {
      background-color: #4caf50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin: 4px 0px;
      cursor: pointer;
      float: right;
      border-radius: 999px;
      margin-bottom: 10px;
    }

    .card button:hover {
      background-color: #45a049;
    }
    .content {
      font-size: 20px;
    }
    .subtitle-is-6 {
      font-size: 15px;
    }
  </style>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/homepage.js"></script>
