<div style="display: flex; justify-content: space-between; align-items: center">
  <h1>WATCHES SHOP</h1>
  <div>
    <div style="display: flex; gap: 10px">
      <a href="/login">
        <button>Login</button>
      </a>
      <a href="/register">
        <button>Register</button>
      </a>
    </div>
    <p id="memberContainer" style="display: none"></p>
    <a href="/" id="logoutButton" style="display: none">
      <button>Logout</button>
    </a>
  </div>
</div>

<div id="cardsContainer"></div>
<style>
  #cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    transition: box-shadow 0.3s;
    width: 500px;
    height: 500px;
  }

  .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  .card img {
    width: 100%;
    height: 65%;
  }

  .card h2 {
    margin-top: 0;
  }

  .card button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 0px;
    cursor: pointer;
  }

  .card button:hover {
    background-color: #45a049;
  }
</style>
<script>
  var memberName = sessionStorage.getItem("memberName");
  var loginButton = document.querySelector('a[href="/login"]');
  var registerButton = document.querySelector('a[href="/register"]');
  var memberContainer = document.getElementById("memberContainer");
  var logoutButton = document.getElementById("logoutButton");

  if (memberName) {
    loginButton.style.display = "none";
    registerButton.style.display = "none";
    logoutButton.style.display = "inline-block";
    memberContainer.innerHTML = `<h2>Welcome ${memberName}</h2>`;
    memberContainer.style.display = "inline-block";
  } else {
    logoutButton.style.display = "none";
    memberContainer.style.display = "none";
  }
  logoutButton.addEventListener("click", function () {
    var confirmLogout = confirm("Are you sure you want to logout?");
    if (confirmLogout) {
      sessionStorage.clear();
      location.reload();
    }
  });
  // Fetch data from the API
  fetch("http://localhost:5000/v1/watch/getAllWatches")
    .then((response) => response.json())
    .then((data) => {
      // Iterate over each object in the data array
      data.forEach((object) => {
        const card = document.createElement("div");
        card.classList.add("card");
        // Remove 'public\' from the image path
        const imagePath = object.image.replace("public\\", "");
        card.innerHTML = `
        <h2>${object.watchName}</h2>
        <img src="${imagePath}" alt="${object.watchName}">
        <p>${object.price}</p>
        <p>Brand</p>
        <a href="/details/${object._id}"><button>Details</button></a>
        `;
        const cardsContainer = document.getElementById("cardsContainer");
        cardsContainer.appendChild(card);
      });
    })
    .catch((error) => {
      console.error("Error:", error);
    });
</script>
