<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="cl-icon/css/all.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <form
        class="form"
        id="registerForm"
        action="http://localhost:5000/v1/auth/createUser"
        method="POST"
        onsubmit="submitForm(event)"
      >
        <h2 class="title">Register</h2>
        <div class="inp">
          <input
            class="input"
            type="text"
            id="memberName"
            name="memberName"
            required
            placeholder="Member Name"
          />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="inp">
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
          <i class="fa-solid fa-lock"></i>
        </div>
        <div class="inp">
          <input
            class="input"
            type="text"
            id="name"
            name="name"
            required
            placeholder="Name"
          />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="inp">
          <input
            class="input"
            type="date"
            id="yob"
            name="yob"
            required
            placeholder="Year of Birth"
          />
          <i class="fa-solid fa-calendar"></i>
        </div>
        <input class="submit" type="submit" value="Register" />
        <p class="footer">
          Already have an account? <a href="/login" class="link"> Login Now</a>
        </p>
      </form>
      <div></div>
      <div class="banner">
        <h1 class="wel_text">Watch Shop</h1>
        <br />
        <p class="para"></p>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/register.js"></script>
</html>
