<div>
  <h1>User Profile</h1>
  <p>Name: <span id="name"></span></p>
  <p>Year of Birth: <span id="yob"></span></p>
  <button id="editButton" style="display: inline-block">Edit</button>
  <button id="submitButton" style="display: none">Submit</button>
  <button
    id="changePasswordButton"
    onclick="location.href='user/changePassword'"
    style="display: none"
  >
    Change Password
  </button>
  <button id="cancelButton" style="display: none">Cancel</button>
  <button id="backButton" onclick="goBack()">Back</button>
</div>

<script src="/js/userProfile.js"></script>
